table{
    width: 100%;
    border-collapse: collapse;
    /*Funde as bordas em uma só */
}
th, td{
    border: 1px solid #000;
    padding: 10px; /*Espaço interno*/
    text-align: center;
    /*Borda sólida preta */

}
th{
    background-color: #212cc7;
    color: yellow; /*Contraste*/
}

tr:nth-child(even){
    background-color: #83aaff;
}
img{
    width: 100px;
}